<% content_for(:partials) do %>
  <%= render 'shared/language_modal', language_user: @language_user, languages: @languages %>
  <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
<% end %>

<div class='row'>
  <div class='col header'>
    <h1>Dashboard</h1>
  </div>
</div>

<div class='row'>
  <div class='col-3'>
    <section id='sidebar'>
      <p>Currently studying: </p>

      <ul class='current-languages'>
        <% @languages.each do |lang| %>
          <li><%= lang.name %></li>
        <% end %>
      </ul>

    </section>
    <section class='actions'>
      <button type='button' data-toggle='modal' data-target='#language-form' class='btn btn-outline-secondary btn-sm add-language'>More Languages</button>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'sign-out' %>
    </section>
  </div>

  <div class='col-9'>

    <div id='dashboard-view'>
      <section>
        <div id='chart-view'>
          <div id='progress-chart'>
          </div>
          <div class='card-columns'>

            <div class='card'>
              <h5 class='card-header'>How You Study</h5>
              <div class='card-body'>
                <div id='language-chart'>
                </div>
              </div>
            </div>

            <div class='card'>
              <h5 class='card-header'>What You Study</h5>
              <div class='card-body'>
                <div id='multi-language-chart'>
                </div>
              </div>
            </div>

            <% @languages.each do |language| %>
              <div class='card'>
                <h5 class='card-header'><%= language.name %></h5>
                <div class='card-body'>
                  <div id=<%="language-#{language.id}-chart"%>>
                    <div class='no-data-filler'><p>No data has been recorded for this language. Try adding a new entry.</p></div>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </section>


      <footer class='actions'>
      </footer>
    </div>
  </div>
</div>
