<% content_for(:partials) do %>
  <%= render 'shared/language_modal', language_user: @language_user, languages: @languages %>
  <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
<% end %>

<div id='dashboard-view'>
  <h1>User dashboard</h1>

  <section>
    <p>Currently studying: </p>

    <ul class='current-languages'>
      <% @languages.each do |lang| %>
        <li><%= lang.name %></li>
      <% end %>
    </ul>
  </section>

  <section>
    <p>Most recent entries: </p>
    <table class='most-recent table table-dark'>
      <thead>

        <tr>
          <td scope="col">Language</td>
          <td scope="col">Study Method</td>
          <td scope="col">Study Time</td>
        </tr>
      </thead>

      <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td><%= entry.language_name %></td>
            <td><%= entry.study_habit %></td>
            <td><%= entry.study_time %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <div id='chart-view'>
    <div id='language-chart'>
    </div>

    <div id='multi-language-chart'>
    </div>
  </div>

  <footer class='actions'>
    <%= link_to 'Make an entry', new_entry_path  %>
    <button type='button' data-toggle='modal' data-target='#language-form' class='btn btn-primary add-language'>More Languages</button>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </footer>
</div>

