<% content_for(:partials) do %>
  <%= render 'shared/language_modal', language_user: @language_user, languages: @languages %>
  <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
<% end %>

<div class='row'>
  <div class='col-2'>
    <section id='sidebar'>
      <p>Currently studying: </p>

      <ul class='current-languages'>
        <% @languages.each do |lang| %>
          <li><%= lang.name %></li>
        <% end %>
      </ul>
    </section>
  </div>

  <div class='col-9'>
    <div id='dashboard-view'>
      <section>
        <div id='chart-view'>
          <div id='language-chart'>
          </div>

          <div id='multi-language-chart'>
          </div>
        </div>
      </section>

      <section>
        <p>Most recent entries: </p>
        <table class='most-recent table table-dark'>
          <thead>

            <tr>
              <td scope="col">Language</td>
              <td scope="col">Study Method</td>
              <td scope="col">Study Time</td>
            </tr>
          </thead>

          <tbody>
            <% @entries.each do |entry| %>
              <tr>
                <td><%= entry.language_name %></td>
                <td><%= entry.study_habit %></td>
                <td><%= entry.study_time %></td>
                <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
                <td><%= link_to 'Delete', entry_path(entry), method: :delete, confirm: :true %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>


      <footer class='actions'>
        <%= link_to 'Make an entry', new_entry_path  %>
        <button type='button' data-toggle='modal' data-target='#language-form' class='btn btn-primary add-language'>More Languages</button>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </footer>
    </div>
  </div>
</div>
