<div class='row header'>
  <div class='col'>
    <h1>Most Recent Entries</h1>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <section>
      <table class='most-recent table table-dark'>
        <thead>

          <tr>
            <td scope="col">Language</td>
            <td scope="col">Study Method</td>
            <td scope="col">Study Time</td>
          </tr>
        </thead>

        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td><%= entry.language_name %></td>
              <td><%= entry.study_habit %></td>
              <td><%= entry.study_time %></td>
              <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
              <td><%= link_to 'Delete', entry_path(entry), method: :delete, confirm: :true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>
