<h2>Study Entry</h2>

<%= form_for @form, url: entries_path do |f| %>
  <fieldset class="form-group" id='time'>
    <legend>How long did you study?</legend>
    <%= f.number_field :duration, class: 'form-control' %>
    <%= f.select :duration_type, options_for_select(["Minutes", "Hours"]), {}, { class: 'form-control'} %>
  </fieldset>

  <fieldset class="form-group" id='language'>
    <legend>What did you study?</legend>
    <%= f.select :language_studied, @form.language_options, {}, { class: 'form-control' } %>
  </fieldset>

  <fieldset class="form-group" id='study_habits'>
    <legend>How did you study?</legend>

    <div class="form-check">
      <%= f.collection_radio_buttons :study_habit, Entry::STUDY_HABITS, :itself, :itself do |b| %>
        <div class='custom-control custom-checkbox'>
          <%= b.radio_button(class: 'custom-control-input') %>
          <%= b.label(class: 'custom-control-label') %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset class="form-group" id='notes'>
    <legend>Quick Notes</legend>
    <%= f.text_area :notes, class: 'form-control', rows: 3 %>
  </fieldset>

  <footer>
    <%= f.submit "Save today's effort!", class: 'btn btn-primary' %>
    <%= link_to 'Back to Dashboard', dashboard_index_path %>
  </footer>
<% end %>
