<div id='language-form' class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose your languages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @language_user do |f| %>
        <div class="modal-body">
            <%= f.label "Languages" %>
            <%= f.collection_check_boxes :language_id, Language.all, :id, :name do |b| %>
              <fieldset><%= b.label { b.check_box + b.text } %></fieldset>
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Finish', class: 'btn btn-primary', data: { disable_with: "Saving..." } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
