<!DOCTYPE html>
<html>
  <head>
    <title>LangGps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/dashboard">LangGPS</a>
  </nav>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <div class='container'>
      <%= yield %>
    </div>
  </body>

  <%= yield(:partials) if content_for?(:partials) %>

  <script>
    new RouteTemplate().call(); 
  </script>
</html>
